<template name="sellersList">
  {{> sellerInfo}}
</template>

<template name="sellerInfo">
  <div class="row">
    <div class="col-xs-4">
      <img src="http://www.hardin.k12.ky.us/upton/Image478.gif" alt="product info" width="30" height="30" />
    </div>
    <div class="col-xs">
      <a href="#demo" class="btn btn-info" data-toggle="collapse">Pizza Papa John</a>
      <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</template>

<template name="productList">
  <p>
    Testing :D
  </p>
</template>
