<template name="signUp">
	<div class="login-page-layout h100 w100" style="padding-top: 60px">
    {{> yield}}
	</div>
</template>


<template name="registration">
	<form class="registr" id="registr">
    <img src="/img/homey-logo.png" class="img-responsive" style="max-width: 150px; margin: 10px auto 20px auto">


    <div class="input-group">
      <div class="input-item">
        <span class="fa fa-user input-helper"></span>
        <input type="text" name="name" placeholder="What is your name?">
      </div>
    </div>

    <div class="input-group">
      <div class="input-item">
        <span class="fa fa-comments input-helper"></span>
        <input type="email" name="email" placeholder="Your email">
      </div>
    </div>

    <div class="input-group">
      <div class="input-item">
        <span class="fa fa-key input-helper"></span>
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>

    <hr>

    <a href="{{pathFor route='login'}}">I have an account</a>
  	<button id="registr-submit" type="submit" class="funbtn funbtn-green">Sign in</button>

	</form>
</template>



<template name="login">
	<form class="registr" id="registr">
    <img src="/img/homey-logo.png" class="img-responsive" style="max-width: 150px; margin: 10px auto 20px auto">


    <div class="input-group">
      <div class="input-item">
        <span class="fa fa-envelope input-helper"></span>
        <input type="email" name="email" placeholder="Your email">
      </div>
    </div>

    <div class="input-group">
      <div class="input-item">
        <span class="fa fa-key input-helper"></span>
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>

    <hr>

    <a href="{{pathFor route='registration'}}">I don't have an account</a>
  	<button id="login-submit" type="submit" class="funbtn funbtn-green btn-lg">Log in</button>

	</form>

<div class="w100 h100 whitebackground" >
<div class="text">
<p align="center" style="font-size: 18px;"><strong>WELCOME TO HOMEY! The place where your meals become a social meet!</strong></p>
<p align="justify">
Have you ever wanted different people to rate your cooking skills?
HOMEY lets you sell and buy homemade food online, order for more people than yourself and gather with others for eating.You get more quality food plus you get to socialize!
</p>
</div>
<hr>
</div>
</template>
