<template name="signUp">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="center">
		<h1 id="signupTitle">Sign Up</h1>
	</div>
	{{> yield}}
	{{formTest}}
  {{> trial}}
</template>
<template name="trial">
<div class="flex-container">
<header>
  <h1>City Gallery</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="#">Orders</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Settings</a></li>
</ul>
</nav>

<article class="article">
  <h1>Homey</h1>
  <p><strong>WELCOME TO HOMEY! The place where your meals become a social meet!</strong></p>
  <p>Have you ever wanted different people to rate your cooking skills? 
  HOMEY lets you sell and buy homemade food online, order for more people than yourself and gather with others for eating.You get more quality food plus you get to socialize!
   </p>
  
</article>

<footer>HACKUPC 2016</footer>
</div>

</template>


<template name="registration">
	<form class="registr" id="registr">
		<div class="form-group">
    	<label>Your name</label>
    	<input type="text" class="form-control" name="name" placeholder="John Doe" required="true">
  	</div>

  	<div class="form-group">
    	<label>Email address</label>
    	<input type="email" class="form-control" name="email" placeholder="Email" required="true">
  	</div>

  	<div class="form-group">
    	<label>Password</label>
    	<input type="password" class="form-control" name="password" placeholder="Password" required="true">
  	</div>

  	<button id="registr-submit" type="submit" class="btn btn-success">Sign in</button>
  	<a href="{{pathFor route='login'}}">I have an account</a>
	</form>
</template>

<template name="login">
	<form class="registr" id="registr">

  	<div class="form-group">
    	<label>Email address</label>
    	<input type="email" class="form-control" name="email" placeholder="Email" required="true">
  	</div>

  	<div class="form-group">
    	<label>Password</label>
    	<input type="password" class="form-control" name="password" placeholder="Password" required="true">
  	</div>

  	<button id="login-submit" type="submit" class="btn btn-success">Log in</button>
  	<a href="{{pathFor route='registration'}}">I don't have an account</a>
	</form>
</template>
