<template name="usersList">
  <div class="media">
  {{#each friendshipRequest}}
    {{#if currentUser.hasRequestFrom this}}
      {{> user}}
    {{/if}}
  {{/each}}
  </div>
  <button class="btn btn-warning" id="addUser">Find friends</button>
	<!--Opens Modal with enemy(not friends) users-->
</template>

<template name="user">
  <div class="row user">
    <div class="col-xs-5">
      <img src={{profile.userImg}} alt="{{profile.name}} image" height="50" width="50" />
    </div>
    <div class="col-xs">
      <strong>{{profile.name}}</strong>
      <p>Status</p>
    </div>
  </div>
</template>
