html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 24px;
}

.row, .col-sm-3, .col-sm-6 {
  margin: 0 !important;
}

section {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

header, main, footer {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

header, footer {
  height: 10%;
}
main {
  height: 80%;
}

footer div {
  height: 100%;
}

/* unvisited link 
a:link {
  color: white;
  text-decoration: underline;
}
/* visited link 
a:visited {
  color: white;
  text-decoration: underline;
}
/* mouse over link 
  color: #D68B00;
  text-decoration: underline;;
}
/* selected link 
a:active {
  color: white;
  text-decoration: underline;
}
*/