html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 24px;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: underline;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: underline;
}
/* mouse over link */
a:hover {
  color: #D68B00;
  text-decoration: underline;;
}
/* selected link */
a:active {
  color: white;
  text-decoration: underline;
}
