#registr {
  max-width: 350px;
  margin: 60px auto;
  background: white;
  padding: 20px 30px 60px 30px;
  border-bottom: 15px solid #E4AC27; 
  border-radius: 10px;
}
#registr label {
	color: #696969;
}
#registr a {
	color: #5bc0de;
	text-decoration: none;
	margin-right: 10px;
}
#registr a:hover {
	text-decoration: underline;
}
#registr label, #registr a {
  font-size: 16px;
}

@media (max-width: 700px) {
  #registr{
  	margin: 0 auto; 
  	width: 100%;
  }
}

.login-page-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.login-page-layout {
  background: #FFD021;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sentMe a {
  color: #5bc0de;
  text-decoration: none;
}
.sentMe a:hover {
  color: #ffd021;
}
.teamMates li{
  list-style: none;
  display: inline;
}